body {
    display: flex;
    justify-content: center;
}

.box {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid;
    position: relative;
    background-color: #808080;

}

.icon {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #fff;
    
    position: absolute;
    transition: 0.5s  all;
    left: 0 ;
}
.icon:active {
    left: 170px;
    
}

.box:active {
    background-color: royalblue;
}